@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Thêm học viên") {
    <h1>Thêm học viên</h1>
    
    
    

    @if(Student.findByEmail(session().get("email"))!=null) {
        <script>
            $(function(){
                $('select').attr('readonly', '');
                $('input#name').attr('readonly', '');
                $('input#course').attr('readonly', '');
                $('input#email').attr('readonly', '');
                $('input#birthday').attr('readonly', '');
            });
        </script>
    }
    
    
    
    
    @form(CSRF(routes.Students.save())) {
        <fieldset>
            <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
            <legend></legend>
            <div class="col-xs-4">
            @helper.inputText(studentForm("studentCode"), 'class -> "form-control", '_label -> "Mã học viên")
            
            
<!--             @helper.inputText(studentForm("userName"), '_label -> "Tên đăng nhập") -->
<!--             @helper.inputText(studentForm("passWord"), '_label -> "Mật khẩu") -->
            @helper.inputText(studentForm("name"), 'class -> "form-control", '_label -> "Tên học viên", '_id->"name")
            
            @helper.inputText(studentForm("email"), 'class -> "form-control", '_label -> "Email", 'type->"email", '_id->"email")
            </div>
            <div class="col-xs-4">
            @helper.inputText(studentForm("address"), 'class -> "form-control", '_label -> "Địa chỉ")
            @helper.inputText(studentForm("phoneNumber"), 'class -> "form-control", '_label -> "Số điện thoại")
          	 @helper.select(studentForm("faculty"),
                        options = options(Student.options()),
                        '_id -> "faculty",
                        '_label -> "Ngành học",
                        'class -> "form-control",
                        '_default -> "-- Chọn ngành --",
                        '_help -> "")
            @helper.inputText(studentForm("course"), 'class -> "form-control", '_label -> "Khóa học", '_id->"course")
            </div>
            <div class="col-xs-4">
            @helper.inputDate(studentForm("date"), 'class -> "form-control", '_label -> "Ngày sinh", '_id->"date")
            @helper.textarea(studentForm("additionalInfomation"), 'class -> "form-control", '_label -> "Thông tin bổ xung")
            </div>
        </fieldset>

        <input type="submit" class="btn btn-primary" value="Lưu">
        <a class="btn" href="@routes.Students.list()">Thoát</a>
    }
}