@(currentPage: com.avaje.ebean.Page[Student])
@main("Danh sách học viên") {
    <h2>Danh sách học viên</h2>
    <script>
    function del ( urlToDelete ) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }
    </script>

	@if(UserAccount.findByEmail(session().get("email"))==null){
		<script>
			$(function(){
				$('th#actions').css('display', 'none');
				$('td#actions').css('display', 'none');
				$('#aloxo').css('display', 'none');
			});
		</script>
	}

    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
                <a href="@routes.Students.list(currentPage.getPageIndex - 1)">&larr;</a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active"><a>
        @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
        @if(currentPage.hasNext) {
            <li>
                <a href="@routes.Students.list(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã sinh viên</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Khóa</th>
                <th>Ngành</th>
                <th id="actions">Thao tác</th>
            </tr>
        </thead>
        <tbody>    @for(student <- currentPage.getList()) {
            <tr>
                <td>
                @student.studentCode
                </td>
                <td><a href="@routes.Students.infostudent(student)">
                @student.name</a>
                </td>
                
               <td>
                @student.email
                </td>
                
                <td>
                @student.course
                </td>
                
                 <td>
                @student.faculty
                </td>
                
                <td id="actions">
                    <a href="@routes.Students.details(student)">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    <a onclick="javascript : del ( ' @routes.Students.delete(student.studentCode) ')">
                        <span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a href="@routes.Students.newStudent()" class="btn btn-primary" id="aloxo">
        Thêm học viên
    </a>
}