@(student: Student)

@main("Hệ Thống Quản Lý Luận Văn Cao Học") {
    <div class="container">
        <hr class=""/>
        <div class="row">
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hồ Sơ</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" align="center">
                               
                                    <img alt="User Pic" src="@routes.Assets.at("images/chim.jpg")"
                                    class="img-circle" width="200px" height="200px">
                                
                                <br><br><b>@student.name</b>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <p><b>Thông tin cá nhân</b></p>
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Địa chỉ</td>
                                            <td>@student.address</td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại</td>
                                            <td>@student.phoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td>Ngành</td>
                                            <td>@student.faculty</td>
                                        </tr>
                                        <tr>
                                            <td>Khóa</td>
                                            <td>@student.course</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ Email</td>
                                            <td>@student.email</td>
                                        </tr>
                                        <tr>
                                            <td>Ngày sinh</td>
                                            <td>@student.date.format("dd-MM-yyyy")</td>
                                        </tr>
                                        
                                         <tr>
                                            <td>Thông tin bổ sung</td>
                                            <td>@student.additionalInfomation</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="panel-footer">
                    </div>

                </div>
            </div>
        </div>
    </div>
}