.navbar {
	background: #BBDEFB;
	color: #ffffff;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* CSS Navigation */
.navbar-default .navbar-nav>li>a {
	color: #FF5722;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
	background: #3572B0;
}

.navbar-default .navbar-brand:hover {
	color: #ffffff;
	background: #3572B0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #ffffff;
	background-color: #3572B0;
}