@(passwordForm: Form[Passwords.Passwordd])

@main("Đổi mật khẩu") {
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel-heading">
                    <h3>Đổi mật khẩu <span class="extra-title muted"></span></h3>
                </div>
                @helper.form(helper.CSRF(routes.Passwords.savePass())) {
                    @helper.inputPassword(passwordForm("oldPass"), '_label -> "",
                        'class -> "input-lg form-control",
                        'placeholder -> "Mật khẩu hiện tại",
                        'autocomplete -> "off")
                    @helper.inputPassword(passwordForm("newPass"), '_label -> "",
                        'id -> "password1",
                        'class -> "input-lg form-control",
                        'placeholder -> "Mật khẩu mới",
                        'autocomplete -> "off")
                    @helper.inputPassword(passwordForm("renewPass"), '_label -> "",
                        'id -> "password2",
                        'class -> "input-lg form-control",
                        'placeholder -> "Nhập lại mật khẩu",
                        'autocomplete -> "off")
                    <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                    data-loading-text="Đang cập nhật..." value="Cập nhật mật khẩu">
                    }
            </div>
        </div>
    </div>
}