@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main("Đăng nhập") {
    @helper.form(helper.CSRF(routes.Application.authenticate)) {
        <h1>Đăng nhập</h1>
        <p>
            <input type="email" name="email" placeholder="Tên đăng nhập"
            value="@loginForm("email").value">
        </p>
        <p>
            <input type="password" name="password"
            placeholder="Mật khẩu">
        </p>

        <p>
            <button type="submit">Đăng nhập</button>
        </p>
        
        
    }
    <nav class="nav navbar-default" style="margin-top : 10 px">
        <div class="container">
             <p>Giáo vụ:</p> 
             <br>
             <p>User: thanhnamitit@@gmail.com</p> 
             <br>
             <p>Pass: 123456</p> 
              
             
        </div>
    </nav>
}