@()

<nav class="navbar navbar-inverse " id="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@routes.Students.list()">
                CVOI</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="@routes.Students.list()">Trang chủ</a></li>
                <li><a href="@routes.Students.list()">Học viên</a></li>
                <li><a href="">Liên hệ</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if(session.get("email") == null) {
                <li><a href="@routes.Application.login()">
                    <span class="glyphicon glyphicon-log-in"></span> Đăng nhập
                </a></li>
            } else {
				@if(Student.findByEmail(session().get("email"))!=null){
				    <li><a href="@routes.Students.infostudent(Student.findByEmail(session().get("email")))">@session.get("email") </a></li>
					<li>
                		<a href="@routes.Students.details(Student.findByEmail(session().get("email")))">Sửa thông tin</a>
               	 	</li>
               	 	
               	 	<li>
                		<a href="@routes.Passwords.changePass()">Đổi mật khẩu</a>
               	 	</li>
				}
				
                <li><a href="@routes.Application.logout()">
                    Đăng xuất</a></li>
            }
            </ul>
        </div>
    </div>
</nav>